@model IEnumerable<Profinder.Models.Contratacao>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/globals.css">
    <link rel="stylesheet" href="~/css/minhas_contratacoes.css">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <script defer src="~/js/header.js"></script>

    <title>ProFinder - Minhas Contratações</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        var userRole = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;

        <div class="user-logged">
            <header class="header">
                <div class="logo-profinder"><a href="@Url.Action("Index", "Home")"><img class="img-header" src="~/img/logo.png" alt="Logo do site"></a></div>
                <div class="nav-logged">
                    <a class="nav-link" href="@Url.Action("Index", "Home")"><li class="nav-li">Home</li></a>
                    @if (userRole == "Cliente")
                    {
                        <a class="nav-link" href="@Url.Action("AreaProfissionais", "Usuarios")"><li class="nav-li">Profissionais</li></a>
                    }
                    else if (userRole == "Profissional")
                    {
                        <a href="@Url.Action("SolicitarAgendamentos", "Contratacao")"><li class="nav-li">Minhas Solicitações</li></a>
                    }
                    <li id="user-dropdown">
                        <a class="account-drop" href="#">Minha Conta</a>
                        <ul id="user-menu" class="dropdown-content" style="display: none;">
                            <li class="toggle-options"><a asp-action="Edit" asp-controller="Usuarios" asp-route-id="@userId" class="account-li">Perfil</a></li>
                            <li class="toggle-options"><a class="account-li" href="@Url.Action("MinhasContratacoes", "Contratacao")">Minhas contratações</a></li>
                            <li class="toggle-options"><a class="account-li" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a></li>
                        </ul>
                    </li>
                </div>
            </header>
        </div>

        <div class="professional_data column">
            <div class="scrollable-container">
                <div class="flex">
                    <h4 class="historic">Histórico de Contratações</h4>
                    <div class="conclusion_inputs">
                        @if (!Model.Any())
                        {
                            <div class="no-contracts-message">
                                <p>Que pena! Você ainda não possui nenhuma contratação na plataforma.</p>
                            </div>
                        }
                        else
                        {
                            @foreach (var contratacao in Model)
                            {
                                <div class="contract">
                                    @if (userRole == "Cliente")
                                    {
                                        <label>Nome do profissional contratado</label>
                                        <input type="text" value="@contratacao.Profissional.NomeUsuario" readonly>
                                    }
                                    else if (userRole == "Profissional")
                                    {
                                        <label>Nome do paciente</label>
                                        <input type="text" value="@contratacao.Cliente.NomeUsuario" readonly>
                                    }

                                    <label>Histórico de Período contratado</label>
                                    <input type="text" value="@($"Do dia {contratacao.DataInicio:dd/MM/yyyy} às {contratacao.HoraInicio} ao dia {contratacao.DataFim:dd/MM/yyyy} às {contratacao.HoraFim}")" readonly>

                                    <label>Valor recebido pelo serviço</label>
                                    <input type="text" value="@contratacao.Valor.ToString("C")" readonly>

                                    @if (userRole == "Cliente")
                                    {
                                        <form method="post" action="@Url.Action("AvaliarProfissional", "Contratacao")">
                                            <input type="hidden" name="contratacaoId" value="@contratacao.Id" />
                                            <label for="nota">Deixe uma nota para o profissional</label>
                                            <input type="number" name="nota" min="1" max="5" required placeholder="Atribua uma nota de 1 a 5">

                                            <div class="especiais about">
                                                <label for="comentario">Comentário</label>
                                                <textarea placeholder="Conte-nos um pouco sobre sua experiência com este profissional!" name="comentario" required></textarea>
                                            </div>

                                            <div id="btn-order">
                                                <button type="submit" class="cta_btn_primary">Enviar Avaliação</button>
                                            </div>
                                        </form>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="wrapper">
            <header class="header">
                <div class="logo-profinder"><a href="@Url.Action("Index", "Home")"><img class="img-header" src="~/img/logo.png" alt="Logo do site"></a></div>
                <div class="nav">
                    <a class="nav-link" href="@Url.Action("Index", "Home")"><li class="nav-li">Home</li></a>
                    <a class="nav-link" href="@Url.Action("Sobre", "Home")"><li class="nav-li">Sobre</li></a>
                    <a class="nav-link" href="@Url.Action("Servicos", "Home")"><li class="nav-li">Serviços</li></a>
                    <a class="nav-link" href="@Url.Action("FaleConosco", "Home")"><li class="nav-li">Fale Conosco</li></a>
                </div>
                <div class="login-area">
                    <div class="area-login">
                        <a href="@Url.Action("Login", "Usuarios")">
                            <button class="cta_btn_secondary spaces">Entrar</button>
                        </a>
                        <a href="@Url.Action("Create", "Usuarios")" class="cta_btn_primary spaces">Criar Conta</a>
                    </div>
                </div>
            </header>
        </div>
    }

    <footer id="home-footer">
        <div class="copy">
            <img src="~/img/logo.png" alt="">
            <p>&copy; 2024 ProFinder. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
