
@{
    ViewData["Title"] = "Fale Conosco";
}


<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/faleconosco.css">
    <link rel="stylesheet" href="/css/globals.css">
    <title>Fale conosco - ProFinder</title>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <script defer src="~/js/fale_conosco.js"></script>
    <script defer src="~/js/header.js"></script>
</head>

<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="user-logged">
            <header class="header">
                <div class="logo-profinder-logged"><img src="~/img/logo.png" alt="Logo ProFinder"></div>
                <div class="nav-logged">
                    <a class="nav-link" href="@Url.Action("Index", "Home")"><li class="nav-li">Home</li></a>
                    <a class="nav-link" href="@Url.Action("Sobre", "Home")"><li class="nav-li">Sobre</li></a>
                    <a class="nav-link" href="@Url.Action("Servicos", "Home")"><li class="nav-li">Servicos</li></a>
                    <a class="nav-link" href="@Url.Action("FaleConosco", "Home")"><li class="nav-li">Fale Conosco</li></a>
                    <a class="nav-link" href=""><li class="nav-li">Profissionais</li></a>

                    <li id="user-dropdown">
                        <a class="account-drop" href="#">Minha Conta</a>
                        <ul id="user-menu" class="dropdown-content" style="display: none;">
                            <li class="toggle-options"><a class="account-li" href="@Url.Action("Edit", "Usuarios")">Perfil</a></li>
                            <li class="toggle-options"><a class="account-li" href="../código-fonte/area_minhas_contratacoes.html">Minhas contratações</a></li>
                            <li class="toggle-options"><a class="account-li" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a></li>
                        </ul>
                    </li>
                </div>
            </header>
        </div>
    }
    else
    {
        <div class="wrapper">

            <header class="header">
                <div class="logo-profinder"><a href="@Url.Action("Index", "Home")"><img class="img-header" src="~/img/logo.png" alt="Logo do site"></a></div>
                <div class="nav">
                    <a class="nav-link" href="@Url.Action("Index", "Home")"><li class="nav-li">Home</li></a>
                    <a class="nav-link" href="@Url.Action("Sobre", "Home")"><li class="nav-li">Sobre</li></a>
                    <a class="nav-link" href="@Url.Action("Servicos", "Home")"><li class="nav-li">Serviços</li></a>
                    <a class="nav-link" href="@Url.Action("FaleConosco", "Home")"><li class="nav-li">Fale Conosco</li></a>
                </div>

                <div class="login-area">
                    <div class="area-login">
                        <a href="@Url.Action("Login", "Usuarios")">
                            <button class="cta_btn_secondary spaces">Entrar</button>
                        </a>
                        <a href="@Url.Action("Create", "Usuarios")" class="cta_btn_primary spaces">Criar Conta</a>

                    </div>
                </div>
            </header>
        </div>
    }
    <!--FIM AREA DO HEADER-->
    <!--AREA DO FORMS-->
    <article class="fale-conosco">
        <p class="title">Fale Conosco</p>
        <p class="introduction">
            Precisa de ajuda com alguma coisa? Caso queira fazer elogios,
            reclamações, sugestões ou se tornar um parceiro ProFinder, envie-nos uma mensagem e
            responderemos o mais breve possível.
        </p>
    </article>

    <div class="forms">
        <form class="input-forms" id="verif-form">
            <label for="nome">Nome Completo<span class="label-span">*</span></label>
            <span class="error-message" id="errorMessage1">Por favor, preencha o campo com seu nome completo.</span>
            <input type="text" id="nome" name="nome" placeholder="Insira seu nome Completo" onkeypress="onlyLetters(event)">

            <label for="email">Endereço de E-mail<span class="label-span">*</span></label>
            <span class="error-message" id="errorMessage2">Por favor, preencha o campo com um e-mail válido</e-mail>.</span>
            <input type="text" id="email" name="email" placeholder="Seu endereço de e-mail">

            <label for="telefone">N° de telefone<span class="label-span">*</span></label>
            <span class="error-message" id="errorMessage3">Por favor, insira um número de telefone válido com 11 dígitos.</span>
            <input type="text" id="telefone" name="telefone" placeholder="Seu número de telefone com DDD">

            <label for="mensagem">Escreva sua mensagem<span class="label-span">*</span></label>
            <span class="error-message" id="errorMessage4">Por favor, preencha o campo com sua mensagem.</span>
            <textarea id="mensagem" name="mensagem" placeholder="Escreva sua mensagem aqui" rows="4"></textarea>

            <div class="button">
                <input class="send-button" type="submit" value="Enviar">
            </div>
        </form>
    </div>
    <!--FIM AREA DO FORMS-->
    <!--AREA DO FOOTER-->
    <footer id="home-footer">
        <div class="copy">
            <img src="~/img/logo.png" alt="">
            <p>&copy; 2023 ProFinder. Todos os direitos reservados.</p>
        </div>
    </footer>
    <!--FIM AREA DO FOOTER-->
    </div>
</body>
</html>

