
﻿
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/globals.css">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <script defer src="~/js/header.js"></script>
    <link rel="stylesheet" href="~/css/solicitacoes.css">
    <script defer src="~/js/notification.js"></script>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.10/signalr.min.js"></script>
</head>

<body>

    

    @if (User.Identity.IsAuthenticated)
    {
        var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        var userRole = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;

        if (userRole == "Cliente")
        {
            <div class="user-logged">
                <header class="header">
                    <div class="logo-profinder-logged"><img src="~/img/logo.png" alt="Logo ProFinder"></div>
                    <div class="nav-logged">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><li class="nav-li">Home</li></a>
                        <a class="nav-link" href="@Url.Action("PedidosPendentes", "Contratacao")"><li class="nav-li">Minhas solicitações</li></a>
                        <a class="nav-link" href="@Url.Action("AreaProfissionais", "Usuarios")"><li class="nav-li">Profissionais</li></a>
                        <li id="user-dropdown">
                            <a class="account-drop" href="#">Minha Conta</a>
                            <ul id="user-menu" class="dropdown-content" style="display: none;">
                                <li class="toggle-options"><a asp-action="Edit" asp-controller="Usuarios" asp-route-id="@userId" class="account-li">Perfil</a></li>
                                <li class="toggle-options"><a class="account-li" href="@Url.Action("MinhasContratacoes", "Home")">Minhas contratações</a></li>
                                <li class="toggle-options"><a class="account-li" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a></li>
                            </ul>
                        </li>
                    </div>
                </header>
                <div class="ajust-welcome">
                    <h2 id="welcome_name">Seja Bem-vindo, Cliente!</h2>
                </div>
                <!-- Conteúdo específico para Cliente -->
            </div>
        }
        else if (userRole == "Profissional")
        {
            <div class="user-logged">
                <header class="header">
                    <div class="logo-profinder-logged"><img src="~/img/logo.png" alt="Logo ProFinder"></div>
                    <div class="nav-logged">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><li class="nav-li">Home</li></a>
                        <a href="@Url.Action("SolicitarAgendamentos", "Contratacao")"><li class="nav-li">Minhas Solicitações</li></a>
                        <li id="user-dropdown">
                            <a class="account-drop" href="#">Minha Conta</a>
                            <ul id="user-menu" class="dropdown-content" style="display: none;">
                                <li class="toggle-options"><a asp-action="Edit" asp-controller="Usuarios" asp-route-id="@userId" class="account-li">Perfil</a></li>
                                <li class="toggle-options"><a class="account-li" href="@Url.Action("MinhasContratacoes", "Home")">Minhas contratações</a></li>
                                <li class="toggle-options"><a class="account-li" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a></li>
                            </ul>
                        </li>
                    </div>
                </header>
                <div class="ajust-welcome">
                    <h2 id="welcome_name">Seja Bem-vindo, ProFinder!</h2>
                </div>
                <!-- Conteúdo específico para Profissional -->
            </div>
            <div id="notificationModal" class="modal">
                <!-- Adiciona a classe "show" para exibir o modal por padrão -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modalMessage">Você tem uma nova solicitação de agendamento.</p>
                </div>
            </div>
        }
    }
    else
    {
        <div class="wrapper">
            <header class="header">
                <div class="logo-profinder"><a href="@Url.Action("Index", "Home")"><img class="img-header" src="~/img/logo.png" alt="Logo do site"></a></div>
                <div class="nav">
                    <a class="nav-link" href="@Url.Action("Index", "Home")"><li class="nav-li">Home</li></a>
                    <a class="nav-link" href="@Url.Action("Sobre", "Home")"><li class="nav-li">Sobre</li></a>
                    <a class="nav-link" href="@Url.Action("Servicos", "Home")"><li class="nav-li">Serviços</li></a>
                    <a class="nav-link" href="@Url.Action("FaleConosco", "Home")"><li class="nav-li">Fale Conosco</li></a>
                </div>
                <div class="login-area">
                    <div class="area-login">
                        <a href="@Url.Action("Login", "Usuarios")">
                            <button class="cta_btn_secondary spaces">Entrar</button>
                        </a>
                        <a href="@Url.Action("Create", "Usuarios")" class="cta_btn_primary spaces">Criar Conta</a>
                    </div>
                </div>
            </header>
        </div>
    }
    <div class="tabela">
        <ul>
            <li><img src="~/img/Cont-profi.png"><span>+5.000 Profissionais</span></li>
            <li><img src="~/img/cont-user.png"><span>+20.000 Usuários na Plataforma</span></li>
            <li><img src="~/img/cont-espec.png"><span>+ 50 Especializações</span></li>
            <li><img src="~/img/cont-local.png"><span>Encontre quando você quiser</span></li>
            <li><img src="~/img/cont-pag.png"><span>Parcele em até 12X</span></li>
        </ul>
    </div>
    <div class="line-style-top"></div>
    <div class="backgroun-detail">
        <div class="container">


            <div class="right">
                <div class="title">Bem-vindo ao <span style="color: #FFD600;"> ProFinder</span>, onde o cuidado encontra seu lar.</div>

                <div class="benefits">
                    <img src="~/img/Ok1.png" alt="Ícone de Ok"><span>Encontre cuidadores confiáveis com apenas alguns cliques.</span><br>
                    <img src="~/img/Ok1.png" alt="Ícone de Ok"><span>Acesso a uma rede de cuidadores profissionais e qualificados, pré-selecionados e avaliados pela comunidade.</span> <br>
                    <img src="~/img/Ok1.png" alt="Ícone de Ok"><span>Opções de agendamento flexíveis, permitindo que as famílias encontrem cuidadores disponíveis nos horários e datas que melhor se adequam às suas necessidades.</span> <br>
                    <img src="~/img/Ok1.png" alt="Ícone de Ok"><span>Possibilidade de avaliar e fornecer feedback sobre a experiência com os cuidadores, contribuindo para a transparência e o aprimoramento contínuo da qualidade dos serviços oferecidos.</span>

                </div>

                <div class="btn-area">
                    Clique no botão abaixo para iniciar essa incrível experiência!
                    <a href="@Url.Action("Create", "Usuarios")"><button class="cta_btn_primary">Buscar um ProFinder</button></a>
                </div>
            </div>

            <div class="left">
                <img src="~/img/home01.png" alt="Cuidador de Idosos">
                <span>
                    <p>Cuidador de Idosos</p>
                    <h6>O serviço oferece cuidadores confiáveis, agendamento flexível e a possibilidade de avaliar a experiência</h6>
                </span>

                <img src="~/img/home02.png" alt="Cuidador de pessoa com deficiência">
                <span id="img-2">
                    <p>Cuidador de Pessoa com Deficiência</p>
                    <h6>Profissionais qualificados e avaliados diariamente por milhares de usuários.</h6>
                </span>
            </div>

            


        </div>
    </div>


    <div class="rodape">

        <div class="secao-rodape">

            <p class="rodape-cabecalho">MAPA DO SITE</p>
            <p class="rodape-text">Quem Somos</p>
            <p class="rodape-text">Seja um Profinder</p>
            <p class="rodape-text">Buscar um Profinder</p>
            <p class="rodape-text">Noticias</p>

        </div>

        <div class="secao-rodape">

            <p class="rodape-cabecalho">PRECISA DE AJUDA?</p>
            <span class="rodape-text"><img src="~/img/Chat1.png" alt="ícone de chat">Chat on-line</span><br>
            <span class="rodape-text"><img src="~/img/Envelope1.png" alt="ícone de email">E-mail</span><br>
            <span class="rodape-text"><img src="~/img/Phone Message1.png" alt="ícone de fale conosco">Fale conosco</span><br>
            <span class="rodape-text"><img src="~/img/WhatsApp.png" alt="ícone do whatsapp">Whatsapp</span>

        </div>

        <div class="secao-rodape-redes-sociais">
            <p>ENCONTRE-NOS NAS REDES SOCIAIS</p>
            <img src="~/img/linkdin.png" alt="">
            <img src="~/img/instagram home.png" alt="">
            <img src="~/img/facebook.png" alt="">
            <img src="~/img/youtube.png" alt="">

        </div>

    </div>


    <footer id="home-footer">
        <div class="copy">
            <img src="~/img/logo.png" alt="">
            <p>&copy; 2023 ProFinder. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>

</html>
