@model ResumoContratacaoViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/area_profissionais.css">
    <link rel="stylesheet" href="~/css/etapa_1.css">
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="~/css/contratacao.css">
    <title>ProFinder - Minhas Contratações</title>
</head>
<body>
    <header>
        <div class="container-navegation">
            <a href="@Url.Action("Index", "Home")">
                <img class="img-header" src="/img/logo.png" alt="Logo do site">
            </a>
            <div class="list-menu-etapa">
                <li>Minhas Contratações</li>
            </div>
            <a href="@Url.Action("Index", "Home")" style="margin-right: 5%; text-decoration: none;"><span>Voltar</span></a>
        </div>
    </header>
    <div class="line-style-top"></div>

    <div class="container-etapas">
        <div class="etapa-1">
            <div class="stage">
                Nome do Profissional
                <p id="no-profile">@Model.NomeProfissional</p>
            </div>
            <div class="stage">
                Data e Hora do Serviço
                <p id="no-profile">@Model.DataHoraServico</p>
            </div>
            <div class="stage">
                Endereço do Cliente
                <p id="no-profile">@Model.EnderecoCliente</p>
            </div>
            <div class="stage">
                Valor Pago
                <p id="no-profile">@Model.ValorPago.ToString("C")</p>
            </div>
            <div class="stage">
                Data do Pagamento
                <p id="no-profile">@Model.DataPagamento.ToString("dd/MM/yyyy")</p>
            </div>
        </div>
    </div>
</body>
</html>
